<!DOCTYPE HTML>
<html>
<head>
    <title>Baseball Stats 2013</title>
    
    <link rel="stylesheet" type="text/css" href="Project2.css">
    </head>
 

<body>
    <div id="top">
    <h1>Baseball Statistics 2013</h1>
    </div>
    
    <div id="navigation">
    
    
<!--      Navigation Sidebar  -->

    <ul >
        <li> <a href="/Home">Home</a></li>
    <li> <a href="/Teams">Teams</a></li>
    <li> <a href="/Batters">Batters</a></li>
    <li> <a href="/Pitchers">Pitchers</a> </li>
    <li> <a href="/Managers">Managers</a> </li>
	<li> <a href="/Views">Views</a> </li>
    <li> <a href="/About">About</a> </li>
     </ul>

 
    </div>
    
    <div id="middle">
    <h1>Purpose</h1>
        <p1> The purpose of this website is get a basic understanding of baseball statistics. Anyone that wants to see information about a certain player or team through the 2013 season can look here.</p1>
      
    <h1> What is SweDroid?</h1>
    <p1> SweDroid Technology is an up and coming fortune 500 startup company. The CEO Jeremy "HotShot" Swedroe, is studying Computer Science at Sonoma State University. SweDroid strives in making the latest and greatest applications in web and Android</p1>
        
    <h1> Contact Us</h1>
        <ul>
        <li style ="width: 400px;"> Email: swedroidtech@gmail.com</li> </br>
        <li> Phone: (707) 586-1949</li> </br>
        <li style="width: 400px;"> Location: 601 Rohnert Park Expy W, Rohnert Park, CA 94928</li> </br>
       
        </ul>
</div>
    <div class="footer"> Copyright &copy; SweDroid Technology</div>
    </body>




















</html>
