 <div id="side">
    <p style="text-align: center";> <b> <u> Menu </u> </b> </p>

<!--      Navigation Sidebar  -->
        <ul>
        <li> <a href="/Teams">Teams</a></li> </br>
        <li> <a href="/Teams/">Batters</a></li> </br>
        <li> <a href="/Teams/">Pitchers</a> </li> </br>
        <li> <a href="/Teams/">Managers</a> </li> </br>
        </ul>

    </div>


