<!DOCTYPE HTML>
<html>
<head>
    <title>Baseball Stats 2013</title>
    
    <link rel="stylesheet" type="text/css" href="Project2.css">
    </head>
 

<body>
    <div id="top">
    <h1>Baseball Statistics 2013</h1>
    </div>
    
    <div id="navigation">
    
    
<!--      Navigation Sidebar  -->

<ul >
  <li> <a href="/Home">Home</a></li>
  <li> <a href="/Teams">Teams</a></li>
  <li> <a href="/Batters">Batters</a></li>
  <li> <a href="/Pitchers">Pitchers</a> </li>
  <li> <a href="/Managers">Managers</a> </li>
  <li> <a href="/About">About</a> </li>
</ul>

 
    </div>
    
    <div id="middle">
    
        </div>
    
    <div class="footer"> Copyright &copy; SweDroid Technology</div>
    </body>




















</html>
