<!DOCTYPE HTML>
<html>
<head>
    <title>Baseball Stats 2013</title>
    
    <link rel="stylesheet" type="text/css" href="Project2.css">
    </head>
 

<body>
    <div id="top">
    <h1>Baseball Statistics 2013</h1>
    </div>
    
    <div id="navigation">
    
    
<!--      Navigation Sidebar  -->

<ul >
  <li> <a href="/Home">Home</a></li>
  <li> <a href="/Teams">Teams</a></li>
  <li> <a href="/Batters">Batters</a></li>
  <li> <a href="/Pitchers">Pitchers</a> </li>
  <li> <a href="/Managers">Managers</a> </li>
 <li> <a href="/Views">Views</a> </li>
  <li> <a href="/About">About</a> </li>
</ul>

 
    </div>
    
    <div id="middle">
      <h1> Welcome to Baseball Statistics 2013 </h1>

<!-- <img src="http://thevegasparlay.com/wp-content/uploads/2014/02/Major-League-Baseball-MLB-LOGO.jpg" alt="MLB Logo"> -->
    <p> Here you will be able to find various information about Major League Baseball. </br>To get started Click on one of the navigation tabs above </p> </div>
    <div class="footer"> Copyright &copy; SweDroid Technology</div>
    </body>




















</html>
