<% include Head %>


<% include content %>

<div id = "middle" >

   <% if(rs.length > 0) { %>
    <table>
        <tr><th>Teams</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
            <tr>
             <td><%=rs[i].Name %> </td>
            </tr>
        <% } %>
    </table>
    <% } else { %>
         No Teams are entered into the database.
    <% } %>

</div>




<% include Foot %>