#top
{
    background-color: #4D4D4D;
    height: 120px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 22pt;
    text-align: center;
    margin: inherit;
    border-style: outset; 
    box-shadow: 10px 10px 5px #Cf2456;  
    color: yellowgreen;
    text-shadow: 2px 2px 7px #111111;
}

#navigation
{
    background-color: #004C99; 
    width: 100%;
    height: 50px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 14pt;
}



#middle
{
    width: 100%;
    min-height:500px;   
    max-height: 20000px;
}

img{
    width: 200px;
    height: 200px;

}

a
{
    text-decoration: none;
    color: white;
    width: 60px;
    
}
a:hover{color:red;}
a:visted{color: purple;}

li
{
    display: inline;
    float: left;
    width: 190px;
}

ul
{ 
    
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
     
}

body
{
   background-color: #990000;     
}

.footer
{
    background-color: gray;
    text-align: center;
    font-size: 12pt;
    clear:both;
    height: 20px;
    width: 100%;
        
}

div.title {
  font-size:18px;
  font-style:arial;
  padding-bottom:20px;
}

table.users {
    border-collapse:collapse;
    /* width:500px; */
}


table.users td {
    border:solid 1px;
    padding-left:10px;    
    padding-right:10px;
    padding-top:5px;
}

table.users .rightalign {
 text-align: right;
}

table.users th {
    border-bottom:solid 1px #999;
    padding-left:10px;    
    padding-right:10px;
    text-align:left;
}