<!DOCTYPE HTML>
<html>
<head>
    <title>Baseball Stats 2013</title>

    <link rel="stylesheet" type="text/css" href="/Project2.css">
 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript">
        
            // Once the HTML has loaded, link javascript functions to HTML elements
            $(document).ready(function () {
            
                // Populate Drop Down Menu with Teams from MySQL
                $.ajax({
                    url: "/Teams/Select",
                    type: "POST",
                    contentType: "application/json",
                    processData: false,
                    complete: function (data) {
                        $('div#teams').html(data.responseText);
                    }
                });
         



                // Retrieve data from MySQL for a specific Team
                $('#Team-submit').click(function () {
                    var payload = {
                        id: $('#Team-list').val(),
                    };
                    
                    $.ajax({
                        url: "/Teams",
                        type: "POST",
                        contentType: "application/json",
                        processData: false,
                        data: JSON.stringify(payload),
                        complete: function (data) {
                            $('#output').html(data.responseText);
                        }
                    });
                });
            });
</script>
    </head>


<body>
    <div id="top">
    <h1>Baseball Statistics 2013</h1>
    </div>



    <div id="navigation">


<!--      Navigation Sidebar  -->

<ul >
<li> <a href="/Home">Home</a></li>
    <li> <a href="/Teams">Teams</a></li>
    <li> <a href="/Batters">Batters</a></li>
    <li> <a href="/Pitchers">Pitchers</a> </li>
    <li> <a href="/Managers">Managers</a> </li>
<li> <a href="/Views">Views</a> </li>
    <li> <a href="/About">About</a> </li>
     </ul>


    </div>

    

    <h1>Team Builder</h1>
    <h3>Select a team to get Fun Facts</h3>
    <div id ="teams"> </div>
<div id ="middle">
      <input id="Team-submit" type="submit"/>
      <p id="output"></p>
</br>
</br>
<img src =" http://www.sports-logos-screensavers.com/user/MLB_Background_Spotlight_Logos.jpg" alt = "MLB TEAM LOGOS">
    </div>
    



<% include Foot %>
